In [2]:
from pyspark.sql import Row

In [4]:
olimpiadas = sc.textFile('medallas.txt').map(lambda x: x.split(',')).map(lambda x: Row(nombre=x[0],medallas=x[1],edad=int(x[2]))).collect()
df = sqlContext.createDataFrame(olimpiadas)
sqlContext.registerDataFrameAsTable(df,'premios')
df.registerTempTable('premios')
sqlContext.sql("Select count(medallas) as NumMedallas,Edad from premios group by edad").show()

+-----------+----+
|NumMedallas|Edad|
+-----------+----+
|          3|  22|
|          5|  25|
|          3|  27|
|          6|  18|
|          2|  30|
|          4|  23|
+-----------+----+

In [12]:
sqlContext.sql("Select nombre,count(medallas) as totalMedallas,medallas from premios group By nombre,medallas order By count(medallas) DESC").show()

+-------+-------------+--------+
| nombre|totalMedallas|medallas|
+-------+-------------+--------+
|Michael|            5|     Oro|
|  Katie|            4|     Oro|
|  Usain|            3|     Oro|
| Simone|            3|     Oro|
|Katinka|            2|     Oro|
| Simone|            1|  Bronce|
|  Jason|            1|  Bronce|
|  Jason|            1|   Plata|
|  Jason|            1|     Oro|
|Michael|            1|   Plata|
|  Katie|            1|   Plata|
+-------+-------------+--------+